<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-3 well">
				<h1>Authors</h1>
				<ol>
				<% @authors.each do |c| %>
						<li>
							<%= c.authors %>
						</li>
				<% end %>
				</ol>
		</div>
	</div>
</div>