<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<div class="well">
				<h1>Authors</h1>
				<ol>
					<% @authors.each do |c| %>
						<% a=c.authors.split(","); %>
							<% a.each do |s| %>
							<li><%= s %></li>
						<% end %>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>