<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <div class="well"
                <h1>Authors</h1>
                <%= link_to 'Click Me', '#', class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>
