<%= image_tag @author.avatar.url(:thumb) %>
  <h1>Name</h1>
  <p> <%= @author.first_name + " " + @author.last_name %> </p>
  <h1>Bio</h1>
  <p> <%= @author.bio %> </p>
  <h1>Other Books</h1>
  <p> <%= @author.other_books %> </p>
   
