<div class="container">
	<div class="row">
		<noscript>
			<div class="alert alert-danger">
				<p>You don't have JavaScript enabled. Please follow this link for assistance in turning it on. <%= link_to "Turn on javascript", "http://www.enable-javascript.com", class: 'btn btn-primary' %></p>
			</div>
		</noscript>
		<%= no_books(books=@books) %>
	</div>
</div>
<div class="container">
	<div class="row" id="portfolio">
		<div class="col-xs-12">
			<% @books.each do |a| %>
				<%= render 'image_caption', a: a %>
			<% end %>
			<div class="text-center">
				<%= will_paginate @books %>
			</div>
		</div>
	</div>
</div>