<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offest-2">
      <h1>All Reviews</h1>
      <ol>
        <% @post.each do |po| %>
          <div class="well">
            <li><%= po.review %> <%= link_to "Edit", edit_post_path(po) %> <%= link_to "Delete", po, method: :delete, data: { confirm: "Are you sure you want to delete?" } %></li>
          </div>
        <% end %>
        <%= link_to "New", new_post_path, class: 'btn btn-success' %>
      </ol>
    </div>
  </div>
</div>