<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="white">General FAQ</h1>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How do I add a book?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ol>
                <li>Sign in or Sign Up</li>
                <li>In the Search bar, search for a book, then click on Submit</li>
                <li>Under the Book cover, click Add Book.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                I got an Error Message that says, "Book has not been added. Book duplicate?"
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ol>
                <li>Check to make sure the book you are trying to add as not already been added.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                I got an Error Message that says, "Did not return any search results."
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <ol>
                <li>Check to make sure the name of the book you're trying to find isn't misspelled.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
                I got an Error Message that says, "Error! The book does not belong to you!"
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <ol>
                <li>Check to make sure the book that you are trying to edit or delete is a book that you have added. This error message occurs whenever you trying to edit or delete a book that belong to you.</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <h1 class="white">Website FAQ</h1>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Specifics of this website.
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ol>
              	<li>Rails 4.2.5.2</li>
              	<li>Ruby 2.3.0p0</li>
              	<li>Git 2.7.3</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is the purpose of this website?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <ol>
              	<li>The purpose of this website is further develop my skills as a Ruby on Rails developer and to showcase written code.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                What are the future developments of this website?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <ol>
                <li>For the Authors page:</li>
                  <ol type="i">
                    <li>To have only one author per line.</li>
                    <li>To make the names clickable so that once clicked, will redirect to the authors page where it will display all the books that have been added by that particular author.</li>
                  </ol>
                <li>For the Categories page:</li>
                  <ol type="i">
      	            <li>To make the categories clickable so that once clicked, will redirect to a page where it displays all books that have the same category.</li>
                  </ol>
                <li>A profile page for each user.</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- End Accordion -->
      
    </div>
  <div>
</div>