// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* add a little bottom space under the images */
body {
  padding-top: 70px;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,132,1) 49%, rgba(0,0,129,1) 50%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(0,0,132,1)), color-stop(50%, rgba(0,0,129,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,132,1) 49%, rgba(0,0,129,1) 50%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,132,1) 49%, rgba(0,0,129,1) 50%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,132,1) 49%, rgba(0,0,129,1) 50%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,132,1) 49%, rgba(0,0,129,1) 50%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
$img-width: 142px;
$img-height: 195px;

.img-thumbnail,
.missing-book {
  height: $img-height !important;
  width: $img-width !important;
  min-width: 142px !important;
  margin: 5px 5px !important;
}
.img-thumbnail {
  margin: 0px 15px 15px 15px !important;
}
.missing-book {
  background: black !important;
  border: 4px solid #ddd !important;
  border-radius: 4px !important;
  padding: 4px !important;
}
.featured {
  margin-left: 1em;
  color: white;
  max-width: 165px;
  max-height: 195px;
}
.image-container {
  position: relative;
}
.center-block.thumbnail.first-image {
  z-index: 1;
}
.second-image {
  position: absolute; 
  bottom: 15px; 
  left: 15px; 
  z-index: 3;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.second-image:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#search ul li {
  text-decoration: none;
}
.see-more li:before {
	content: '\f061';
	font-family: 'FontAwesome';
	float: left;
	margin-left: -1.5em;
}
.clear {
  clear: both;
}
.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
hr {
  border-top: 1px solid white !important
}
.btn.btn-success.middle {
  margin: auto;
  display: block;
}
.caption { 
  position: relative;
  display: inline-block;
}
.caption-img { 
  display: block;
}
.caption-text { 
  background-color: rgba(0,0,0,0.8); 
  color: white; 
  display: none; 
  padding: 5px 10px; 
  text-align: center; 
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  height: $img-height;
  margin: 0px 15px 15px 15px;
  border-radius: 4px;
}
.caption-search {
  position: relative;
  display: inline;
  padding-left: 3em;
}
.white {
  color: white
}
.faq {
 position: fixed; 
 z-index: 1;
 top: 7em;
 right: 7.4em;
}
@media only screen and (max-width: 394px) {
  .img-thumbnail, .caption-text {
    margin: 5px 5px !important;
    height: $img-height !important;
    width: $img-width !important;
  }
}
.wrap-text {
  line-height: 1.2em;
}