<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offest-2 well">
      <%= form_for @review do |f| %>
        <div class="form-group">
          <%= f.label :review %>
          <%= f.text_area :review, class: 'form-control' %>
        </div>
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>