<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offest-2">
      <h1 class="white">All Reviews</h1>
      <%= render 'reviews' %>
        <%= link_to "New", new_book_review_path(@book), class: 'btn btn-success' %>
        <%= link_to "Back", books_path(@book), class: 'btn btn-primary' %>
      </ol>
    </div>
  </div>
</div>